<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
    
    <!-- Page meta-information -->
    <meta charset="utf-8"/>
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}"/>
    {% if page.noindex %}
        <meta name="robots" content="noindex"/>
    {% endif %}

    <!-- Site links -->
    <link rel="alternate" type="application/atom+xml" href="/blog.xml" title="{{site.blog.name}}"/>
    <link rel="sitemap" type="application/xml" href="/sitemap.xml" title="Sitemap"/>
    <link rel="canonical" href="http://{{site.host}}{{page.url | replace: 'index.html', ''}}"/>
    {% if page.url != '/index.html': %}
        <link rel="author" href="http://{{site.host}}/"/>
    {% endif %}

</head>
<body>

    <div>
        <a href="/">{{site.host}}</a>
    </div>

    {{content}}

    <div>
        <hr/>
        <small>
            Copyright &copy; {{site.time | date: '%Y'}},
            {{site.author.name | xml_escape}}.
        </small>
    </div>

</body>
</html>