<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
    
    <!-- Page meta-information -->
    <meta charset="utf-8"/>
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}"/>
    {% if page.noindex %}
        <meta name="robots" content="noindex"/>
    {% endif %}

    <!-- Site links -->
    <link rel="alternate" type="application/atom+xml" href="/blog.xml" title="{{site.blog.name}}"/>
    <link rel="sitemap" type="application/xml" href="/sitemap.xml" title="Sitemap"/>
    <link rel="canonical" href="http://{{site.host}}{{page.url | replace: 'index.html', ''}}"/>
    {% if page.url != '/index.html': %}
        {% if page.author %}
            <link rel="author" href="{{page.author.url}}" title="{{{page.author.name}}"/>
        {% else %}
            <link rel="author" href="{{site.author.url}}" title="{{site.author.name}}"/>
        {% endif %}
    {% endif %}

</head>
<body>

    <div>
        <a href="/">{{site.host}}</a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog.xml">Blog Feed</a></li>
            <li><a href="https://twitter.com/{{site.author.twitter}}">Twitter</a></li>
        </ul>
    </div>

    {{content}}

    <hr/>

    <div>
        <small>
            Copyright &copy; {{site.time | date: '%Y'}},
            {{site.author.name | xml_escape}}.
        </small>
    </div>

</body>
</html>